<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
      color: #ffffff;
      font-family:Monospace;
      font-size:13px;
      text-align:center;
      font-weight: bold;

      background-color: #000000;
      margin: 0px;
      overflow: hidden;
      }
      #info {
      color: #fff;
      position: absolute;
      top: 0px; width: 100%;
      padding: 5px;
      z-index:100;
      }

      </style>
  </head>
  <body>


    <%= render 'layouts/header' %>

    <%= yield %>



    <%= yield :before_scripts %>
    <%= javascript_include_tag "application" %>
    
    <%= yield :scripts %>

  </body>
</html>
